@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant achocus (&:hover, &:focus, &:active);

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-shadow: var(--shadow);
  --shadow-hover-up: var(--shadow-hover-up);
  --shadow-hover-down: var(--shadow-hover-down);
  --font-base: 600;
  --font-weight-heading: 800;
}

:root {
  /* neo-brutalism settings */
  --background: oklch(0.8941 0.0566 89.24);
  --secondary-background: oklch(0.9655 0.0394 100.86);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(70.28% 0.1753 295.36);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --shadow-hover-up: 6px 6px 0px 0px var(--border);
  --shadow-hover-down: 2px 2px 0px 0px var(--border);
  --radius: 0;

  --accent-red: oklch(0.6532 0.2328 25.74);
  --accent-yellow: oklch(0.8652 0.1768 90.38);
  --accent-blue: oklch(0.7471 0.135994 219.9589);
  --accent-pink: oklch(0.6734 0.2467 7.73);
  --accent-green: oklch(0.7749 0.2368 150.67);
  --accent-purple: oklch(70.28% 0.1753 295.36);
  --accent-orange: oklch(0.7533 0.172 55.72);

  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--main);
  --primary-foreground: var(--main-foreground);
  --secondary: var(--secondary-background);
  --secondary-foreground: var(--foreground);
  --muted: var(--secondary-background);
  --muted-foreground: var(--foreground);
  --accent: var(--main);
  --accent-foreground: var(--main-foreground);
  --destructive: oklch(0.577 0.245 27.325);

  --input: oklch(0.922 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --background: oklch(0.2768 0 0);
  --secondary-background: oklch(0.3441 0.0066 48.52);
  --foreground: oklch(0.9555 0.0555 96.15);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(60.28% 0.1753 295.36);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);

  --accent-red: oklch(0.5532 0.2328 25.74);
  --accent-yellow: oklch(0.7652 0.1768 90.38);
  --accent-blue: oklch(0.6471 0.135994 219.9589);
  --accent-pink: oklch(0.5734 0.2467 7.73);
  --accent-green: oklch(0.6749 0.2368 150.67);
  --accent-purple: oklch(60.28% 0.1753 295.36);
  --accent-orange: oklch(0.6533 0.172 55.72);

  --input: oklch(1 0 0 / 15%);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --chart-1: oklch(0.7032 0.1747 295.13);
  --chart-2: oklch(0.7061 0.1529 162.85);
  --chart-3: oklch(0.7927 0.1622 92.53);
  --chart-4: oklch(0.705 0.1869 22.06);
  --chart-5: oklch(0.6194 0.168169 248.3558);
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
